body{
    font-family:monospace;
    box-sizing: border-box;

}

#avatar{
   text-align: center;
}

#table-div{
    display:flex;
    justify-content: center;
    width: 100%;
}

#table1 tr:nth-child(odd) {
 background-color: lightgray;
}

#table1 {
    border-collapse: collapse;
}

#table2{
    border: ridge 5px gray;
    margin: 5px;
}

#contact{
    background-color: lightgray;
    padding: 15px;
    margin: 0px;
}